* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}

.box1 {
    background-color: blue;
}

.box2 {
    background-color: rgb(87, 71, 54);
}

.box3 {
    background-color: green;
}

.box4 {
    background-color: yellow;
}

.box5 {
    background-color: red;
}

.box6 {
    background-color: purple;
}

.box7 {
    background-color: black;
}

.box8 {
    background-color: beige;
}

.box9 {
    background-color: peru;
}

.box10 {
    background-color: orange;
}

.container {
    display: flex;
}